<!doctype html>
<!--[if lt IE 9]><html lang="{{ DEFAULT_LANG }}" class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
<html lang="{{ DEFAULT_LANG }}"><!--<![endif]-->
{% include "head.html" %}
    <body>

        {% include "header.html" %}
        {% block preamble -%}
        {%- endblock preamble %}
          
          <div class="content container body-margin">
            {% block content -%}
            {%- endblock content %}
          </div>

        {% include "footer.html" %}
        
        {% include "analytics.html" %}
    </body>
</html>
