{% extends "base.html" %}

{% block title -%}{{ SITENAME }}{%- endblock title %}

{% block preamble -%}
{% if INDEX_JUMBOTRON -%}
<div id="mycarousel" class="carousel slide" data-ride="carousel" style="margin: -40px 0px 0px 0px;">
    <div class="carousel-inner">
        <div class="item active">
        <img class="center-block img-responsive" src="{{ INDEX_JUMBOTRON[0] }}" alt="{{ INDEX_JUMBOTRON[1] }}" >
           <div class="carousel-caption">
                {% if INDEX_HEADER -%}
                    <h1 style="text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ INDEX_HEADER }}</h1>
                {%- endif %}
                {% if INDEX_DESCRIPTION -%}
                    <h2>{{ INDEX_DESCRIPTION }}</h2>
                {%- endif %}
           </div>
        </div>
    </div>
</div>
{%- endif %}
{%- endblock preamble %}

{% block content -%}

    <h1>Recent Notebook Entries</h1>
    {#
    {% set article = dates[0] %}
        
    <article class="article-full">
        <header>
            <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
            {% if article.category == "poetry" -%}
            <h5>By {{ article.author }}</h5>
            {%- else -%}
            <h5>{{ article.subtitle }}</h5>
            {%- endif %}
            <time title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </header>
        
        {{ article.content }}
        
        <aside class="clearfix">
            {% if article.tags -%}
            <p>tags: 
                {% for tag in article.tags -%}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </p>
            {%- endif %}
            
        </aside>
    </article>
    #}
    
    {%- for article in dates[0:5] %}
    <article class="article-full article-summary panel">
        <header>
            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            {% if article.category == "poetry" -%}
            <h5>By {{ article.author }}</h5>
            {%- else -%}
            <h5>{{ article.subtitle }}</h5>
            {%- endif %}
            <time title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </header>
        
        {{ article.summary }}
    </article>
    {%- endfor %}
{%- endblock content %}
