{% extends "base.html" %}

{% block title -%}{{ SITENAME }}{%- endblock title %}

{% block content -%}

<!-- Now, I guess here's the part where things get tricky. We want to do block showcases of things-->
{% if INDEX_JUMBOTRON -%}
    <img src="{{ INDEX_JUMBOTRON[0] }}" alt="{{ INDEX_JUMBOTRON[1] }}" >
{%- endif %}
{% if INDEX_HEADER -%}
    <h2>{{ INDEX_HEADER }}</h2>
{%- endif %}
{% if INDEX_DESCRIPTION -%}
    <p>{{ INDEX_DESCRIPTION }}</p>
{%- endif %}

{% if CV -%}
    <h2>Experience</h2>
    {%- for entry in CV%}
    <table>
        <tr><th>{{ entry['employer'] }}</th><th>{{ entry['duration'] }}</th></tr>
        <tr><td>{{ entry['title'] }}</td><td>{{ entry['location'] }}</td></tr>
        <tr><td>
            <ul>
            {%- for resp in entry['responsibilities'] %}
                <li>{{ resp }}</li>
            {%- endfor %}
            </ul>
        </td><td></td></tr>
    </table>
    {%- endfor %}
{%- endif %}
{% if EDUCATION -%}
    <h2>Education</h2>
    <table>
        {%- for s in EDUCATION %}
        <tr><th>{{s['school'] }}</th><th>{{s['duration'] }}</th></tr>
        <tr><td>
            {%- for d in s['degree']%}
            <p>{{ d }}</p>
            {%- endfor %}
        </td><td></td></tr>
        {%- endfor %}
    </table>
{%- endif %}

{% if FELLOWSHIPS -%}
    <h2>FELLOWSHIPS</h2>
    <table>
        {%- for s in FELLOWSHIPS %}
        <tr><th>{{s['title'] }}</th><th>{{s['date'] }}</th></tr>
        <tr><td>
            <p>{{ s['descriptions'] }}</p>
        </td><td></td></tr>
        {%- endfor %}
    </table>
{%- endif %}

{% if SKILLS -%}
    <h2>SKILLS</h2>
    <table>
        {%- for s in SKILLS %}
        <tr><th>{{s['area'] }}</th><th>{{s['values'] }}</th></tr>
        {%- endfor %}
    </table>
{%- endif %}

{% if PUBLICATIONS -%}
    <h2>PUBLICATIONS</h2>
    <table>
        {%- for s in PUBLICATIONS %}
        <tr><th>{{s['title'] }}</th><th>{{s['type'] }}</th></tr>
        {%- endfor %}
    </table>
{%- endif %}




    {#
    {% set article = dates[0] %}
        
    <article class="article-full">
        <header>
            <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
            {% if article.category == "poetry" -%}
            <h5>By {{ article.author }}</h5>
            {%- else -%}
            <h5>{{ article.subtitle }}</h5>
            {%- endif %}
            <time title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </header>
        
        {{ article.content }}
        
        <aside class="clearfix">
            {% if article.tags -%}
            <p>tags: 
                {% for tag in article.tags -%}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </p>
            {%- endif %}
            
        </aside>
    </article>
    #}
    
    {%- for article in dates[0:5] %}
    <article class="article-full article-summary panel">
        <header>
            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            {% if article.category == "poetry" -%}
            <h5>By {{ article.author }}</h5>
            {%- else -%}
            <h5>{{ article.subtitle }}</h5>
            {%- endif %}
            <time title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </header>
        
        {{ article.summary }}
    </article>
    {%- endfor %}
{%- endblock content %}
