<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>	
  <li><a href="{{ root_url }}/about-me.html">About Me</a></li>
  <li>
  	<a href="{{ root_url }}/projects.html">Projects</a>
  	<!--ul>&#x25BE;
  		<li><a href="{{ root_url }}/projects.html">Tritium</a></li>
  		<li><a href="{{ root_url }}/projects.html">TriDroid</a></li>
  		<li><a href="{{ root_url }}/projects.html">Sci-Duino</a></li>
  	</ul-->
  </li>
  <li><a href="{{ root_url }}/brewing.html">Brewing</a></li>
  <li><a href="{{ root_url }}/contact.html">Contact Me</a></li>
</ul>
